.card {
    border: 1px solid rgb(173, 171, 171);
    padding: 1em;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px auto 30px 40px;
    position: relative;
    gap: 1em;
    justify-items: center;
    align-items: flex-start;
    background-color: white;
    height: 100%;
    text-align: center;
    box-shadow: 0 0 5px rgba(34, 34, 34, 0.877);
    color: black;
}
.card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.877);
    
    
}
