.head{
    display: flex;
    justify-content: center;
}


header{
    background-color: rgb(238, 234, 225);
    width: 1100px;
    height: 60px;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    box-shadow: 0 0 5px rgba(34, 34, 34, 0.877);
    
}
.cloud{
    display: flex;
    align-items: center;
    height: 50px;  
    cursor: pointer;
}
.head_text{
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    /* border: 1px solid red; */
    width: 700px;
    color: gray;
    cursor: pointer;
}
.head_text :hover{
    /* color: rgba(33, 104, 12, 0.664); */
    color: rgb(11, 148, 148);
}
