.foot{
    display: flex;
    justify-content: center;
}

footer{
    background-color: rgb(238, 234, 225);
    width: 1100px;
    border-radius: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:  rgb(100, 100, 100);
    box-shadow: 0 0 5px rgba(34, 34, 34, 0.877);
}
.footer_text{
    display: grid;
    grid-template-columns: 30px 2fr;
    align-items: center;
}